*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Pokedex{
    width: 100%;
    height: auto;
    background-color: #191A19;
}
.navPokedex{
    padding: 30px;
}
.title{
    color: white;
    font-size: 2.5rem;
}
