*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contCalcu{
    background-color: #E1E1E1;
}
.calculadora{
    width: 22%;
    height: 75vh;
    background-color: #37465B;
    box-shadow: 15px 15px 50px black;
}
.panel{
    width: 100%;
    height: 30%;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.contBotones{
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,20%); 
    grid-template-areas: 
    "btnEliminar btnEliminar btnDividir btnDividir"
    "btnSiete    btnOcho     btnNueve   btnMultiplicar"
    "btnCuatro   btnCinco    btnSeis    btnRestar"
    "btnUno      btnDos      btnTres    btnSuma"
    "btnPunto    btnCero     btnIgual   btnSuma";
}
.btn{
    background-color: #37465B;
    border: none;
    color: white;
    font-size: 1.3em;
    transition: 0.3s ;
} 
.btn:hover{
    background-color: #5A656F;
    padding: 30px;
    transition: 0.3s all ease-in-out;
}
.btnCero{           
    grid-area: btnCero;    
}
.btnUno{
    grid-area: btnUno;    
}
.btnDos{
    grid-area: btnDos;    
}
.btnTres{
    grid-area: btnTres;    
}
.btnCuatro{
    grid-area: btnCuatro;    
}
.btnCinco{
    grid-area: btnCinco;    
}
.btnSeis{
    grid-area: btnSeis;    
}
.btnSiete{
    grid-area: btnSiete;    
}
.btnOcho{
    grid-area: btnOcho;    
}
.btnNueve{
    grid-area: btnNueve;    
}
.btnEliminar{
    grid-area: btnEliminar;    
}
.btnSuma{
    grid-area: btnSuma;    
}
.btnRestar{
    grid-area: btnRestar;    
}
.btnMultiplicar{
    grid-area: btnMultiplicar;    
}
.btnDividir{
    grid-area: btnDividir;    
}
.btnPunto{
    grid-area: btnPunto;    
}
.btnIgual{
    grid-area: btnIgual;    
}
.textArea{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 2em;
}
